{% extends 'admin/skeleton/create.twig' %}

{% block title %}{% trans 'New wisecrack' %}{% endblock %}

{% block content %}

<h2>{% trans 'New wisecrack' %} <small>{% trans 'Paste a new wisecrack' %}</small></h2>

{% include 'form.twig' %}

{% endblock %}
