{% extends 'admin/layout.twig' %}

{% block title %}{% trans 'New wisecrack' %}{% endblock %}

{% block content %}

<h2>{% trans 'New wisecrack' %} <small>{% trans 'Paste a new wisecrack' %}</small></h2>

{% include 'form.twig' with { 'action': 'create' } %}

{% endblock %}

{% block documentready %}
	IndigoAdmin.addProxyButton('{% trans 'Save' %}', 'glyphicon glyphicon-save', '#form-button-save');
	IndigoAdmin.addFastButton('{% trans 'Back' %}', 'glyphicon glyphicon-arrow-left', '{{ base_url() }}admin/wisecrack/');
{% endblock %}