{% extends 'admin/skeleton/edit.twig' %}

{% block title %}{% trans 'Edit wisecrack' %}{% endblock %}

{% block content %}

<h2>{% trans 'Edit wisecrack' %} <small>{% trans 'Edit wisecrack details' %}</small></h2>

{% include 'form.twig' %}

{% endblock %}